.mobile-logo {
    display: none
  }
@media only screen and (max-width: 765px) {
  .mobile-logo {
    display: flex
  }
}

.mobile-menu
{
  display: none;
}

@media only screen and (max-width: 576px) {
  .mobile-menu {
    display: flex
  }
}



.wallet {
  width: 64px;
  height: 64px;
  position: relative;
}

.icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #0066ff;
  color: #fff;
  position: relative;
  z-index: 101;
}

.coin {
  position: absolute;
  top: var(--coin-from-x, 24px);
  left: var(--coin-from-y, 24px);
  z-index: 100;
  opacity: 0;
}



.coin::after {
  content: "P";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  font-size: 15px;
  color: #4ED5BD;
  background: rgb(227, 162, 23);
  border: 2px solid rgb(237, 196, 107);
  border-radius: 50%;
  opacity: 0;
}

.coin--animated,
.coin--animated::after {
  animation-delay: var(--coin-delay, 0s);
  animation-duration: var(--coin-duration, 1.5s);
  animation-direction: reverse;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.coin--animated {
  animation-name: coin-x-axis;
  animation-timing-function: ease-in;
}

.coin--animated::after {
  animation-name: coin-y-axis-and-flip;
  animation-timing-function: ease-out;
}

@keyframes coin-x-axis {
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    left: calc(var(--coin-to-x) * 1.5);
  }
}

@keyframes coin-y-axis-and-flip {
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateY(calc(var(--coin-to-y) * 1.5)) rotate3d(1, 1, 1, 1080deg);
  }
}


	p.num{
    color: #162444;
	}

  /* Center container for shine effect and text */
.shine-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
}

.custom-text {
  font-size: 3rem;
  color: #f39c12;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  animation: text-fade 3s ease-in-out infinite;
}

/* Shine animation */
.shine {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  border-radius: 50%;
  animation: shine-move 2s linear infinite;
}

@keyframes shine-move {
  0% {
    transform: scale(0.5) translate(-50%, -50%);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.2) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(0.5) translate(-50%, -50%);
    opacity: 0.8;
  }
}

@keyframes text-fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
#scratch-card-container {
  position: relative;
  text-align: center;
  margin: auto;
  width: 300px;
  height: 200px;
}

#scratch-card-logo {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 50px;
  height: 50px;
}

