<br>

<div>
  <div>
    <div style="display: block;">
        <apx-chart [series]="lineWithDataLabelsChart.series" [chart]="lineWithDataLabelsChart.chart"
                    [xaxis]="lineWithDataLabelsChart.xaxis" [stroke]="lineWithDataLabelsChart.stroke"
                    [colors]="lineWithDataLabelsChart.colors" [dataLabels]="lineWithDataLabelsChart.dataLabels"
                    [legend]="lineWithDataLabelsChart.legend" [markers]="lineWithDataLabelsChart.markers"
                    [grid]="lineWithDataLabelsChart.grid" [yaxis]="lineWithDataLabelsChart.yaxis"
                    [title]="lineWithDataLabelsChart.title" dir="ltr"></apx-chart>
    </div>
  </div>
</div>