<div class="mt-sm-0 mt-4"></div>
<!-- Start Breadcrumbs -->
<app-breadcrumbs
  title="Tracker"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>
<!-- End Breadcrumbs -->
<br />
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-end mb-2 gap-2">
      <div class="row justify-content-end" *ngIf="showFilter" @filterAnimation>
        <div class="col-xl-6">
          <div class="form-group has-search">
            <span class="bi bi-search fs-2xl form-control-feedback"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              maxlength="100"
              [(ngModel)]="searchText"
              (keyup)="filterChanged()"
            />
          </div>
        </div>
        <div class="col-xxl-6 col-md-3 col-sm-3">
          <ng-select
            [items]="statusArray"
            [multiple]="true"
            bindLabel="name"
            bindValue="id"
            class="form-control"
            name="statusArrayName"
            placeholder="Select Status"
            [(ngModel)]="arrayStatus"
            [clearable]="true"
            style="padding: 0"
            (ngModelChange)="filterChanged()"
          >
            <ng-template ng-label-tmp let-item="item">
              {{ item.name }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
              {{ item.name }}
            </ng-template>
          </ng-select>
        </div>
      </div>
      <div
        class="btn btn-primary text-end p-2 align-self-center"
        (click)="showFilter = !showFilter"
        *ngIf="showStatusIds == '-1'"
      >
        <i
          [ngClass]="
            showFilter ? 'bi bi-x-square fs-lg' : 'bi bi-sliders fs-lg'
          "
        ></i
        >&nbsp;&nbsp;&nbsp;<span class="fs-lg">Filter</span>
      </div>
      <div class="row justify-content-end" *ngIf="showStatusIds != '-1'">
        <div class="col-xl-6 w-100">
          <div class="form-group has-search">
            <span class="bi bi-search fs-2xl form-control-feedback"></span>
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              maxlength="100"
              [(ngModel)]="searchText"
              (keyup)="filterChanged()"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- screendrop, validation drop, interview drop, offer decline make the row gray :) -->
    <div class="table-responsive">
      <table class="table table-borderless table-fixed" id="StoreData">
        <thead style="border: 0 !important">
          <tr class="bg-light">
            <th class="text-center" style="width: 14% !important">
              Candidates
            </th>
            <!-- <th class="text-center" style="width: 14% !important">Details</th> -->
            <th class="text-center" style="width: 16% !important">Status</th>
            <th class="text-center" style="width: 22% !important">
              Justification
            </th>
            <th class="text-center" style="width: 18% !important">
              Candidate Feedback
            </th>
            <th class="text-center" style="width: 8% !important">Ageing</th>
          </tr>
        </thead>
        <tbody
          style="border: 0 !important"
          *ngFor="let candidate of candidates"
        >
          <br />
          <tr
            [ngStyle]="
              candidate.status.name == 'val.drop@c' ||
              candidate.status.name == 'interview drop' ||
              candidate.status.name == 'offer decline' ||
              candidate.status.name == 'screendrop' ||
              candidate.status.name == 'intrv.drop' ||
              candidate.status.name == 'nowshow@intrv' ||
              candidate.status.name == 'noshow' 
              ? { 'background-color': '#D2D2D5' }
                : { 'background-color': 'white' }
            "
            class="align-middle"
          >
            <th class="border-0 p-1">
              <div class="d-flex gap-1">
                <div class="">
                  <div *ngIf="candidate.candidate.linkedInUrl">
                    <a
                      *ngIf="
                        candidate.candidate.linkedInUrl.indexOf('https') == -1
                      "
                      [href]="
                        candidate?.candidate.linkedInUrl
                          ? 'https://' + candidate?.candidate.linkedInUrl
                          : 'https://linkedin.com'
                      "
                      target="_blank"
                    >
                      <i
                        class="bi bi-linkedin clickable"
                        style="font-size: 20px; color: #156bc4"
                        tooltip="linkedin"
                      ></i>
                    </a>
                    <a
                      *ngIf="
                        candidate.candidate.linkedInUrl.indexOf('https') != -1
                      "
                      [href]="
                        candidate?.candidate.linkedInUrl
                          ? candidate?.candidate.linkedInUrl
                          : 'https://linkedin.com'
                      "
                      target="_blank"
                    >
                      <div>
                        <i
                          class="bi bi-linkedin clickable"
                          style="font-size: 20px; color: #156bc4"
                          tooltip="linkedin"
                        ></i>
                      </div>
                    </a>
                  </div>
                  <div *ngIf="!candidate.candidate.linkedInUrl" class="pb-1">
                    <span
                      class="text-white bg-dark rounded"
                      style="padding: 0.1rem !important"
                      >NA</span
                    >
                  </div>
                  <div class="">
                    <a
                      href="{{
                        candidate.candidate.cv &&
                        candidate.candidate.cv.indexOf('upload') == 0
                          ? urlPrefix + candidate.candidate.cv
                          : candidate.candidate.cv
                      }}"
                      target="_blank"
                    >
                      <!-- <i
                      class="bi bi-file-earmark-arrow-down clickable"
                      style="font-size: 15px"
                      tooltip="Resume"
                    ></i
                  > -->
                      <span
                        class="text-white bg-dark rounded"
                        style="padding: 0.1rem !important"
                        >CV</span
                      >
                    </a>
                  </div>
                </div>
                <div class="align-self-center">
                  <p
                    class="m-0 clickable"
                    tooltip="{{ candidate.candidate.name }}"
                  >
                    {{
                      commonService.truncateString(candidate.candidate.name, 19)
                    }}
                  </p>
                  <p class="text-muted m-0">
                    {{
                      commonService.truncateString(
                        candidate.requirement.role.name,
                        17
                      )
                    }}
                  </p>
                </div>
              </div>
            </th>
            <!-- Status  -->
            <td>
              <div
                [ngStyle]="getBgTranStyle(candidate.status.name)"
                class="border-0 align-middle text-center rounded-pill py-2 px-2"
                (click)="selectedCandidate = candidate; updateStatus()"
              >
                <div
                  [ngStyle]="getBgStyle(candidate.status.name)"
                  class="rounded-pill p-2 mb-0 align-middle text-center text-white clickable"
                >
                  <div class="d-flex gap-3">
                    <div class="align-self-center flex-grow-1 text-center">
                      {{
                        candidate.status.name == "s2c"
                          ? "New"
                          : candidate.status.name == "val.drop@c"
                          ? "Validation Drop"
                          : candidate.status.name
                      }}
                    </div>
                    <div class="align-middle text-center">
                      <i class="bi bi-caret-down fs-xl"></i>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <!-- Candidate Justification -->
            <td>
              <div class="border-0 align-middle rounded-pill py-1 px-2">
                <div style="height: 53px; overflow: hidden">
                  <ul
                    *ngFor="
                      let j of candidate.candidateJustification;
                      let i = index
                    "
                  >
                    <li
                      *ngIf="i == 0 && j.justificationShort.length > 0"
                      class="clickable"
                      (click)="
                        selectedCandidate = candidate; showJustification()
                      "
                    >
                      {{ j.justificationShort }}
                    </li>
                  </ul>
                </div>
              </div>
            </td>
            <!-- Candidate Feedback -->
            <td>
              <div class="border-0 align-middle rounded-pill py-1 px-2">
                <div
                  style="height: 54px; overflow: hidden"
                  *ngIf="candidate.candidateFeedback?.length > 0"
                >
                  <ul
                    *ngFor="let f of candidate.candidateFeedback; let i = index"
                    class="mb-1"
                  >
                    <li *ngIf="i == 0">
                      {{ truncateString(f.feedback, 50) }}
                      <span class="text-center">
                        <a
                          class="clickable text-center"
                          (click)="
                            selectedCandidate = candidate; viewAndEditFeedback()
                          "
                          >add feedback</a
                        >
                      </span>
                    </li>
                  </ul>
                </div>
                <div
                  class="text-center"
                  *ngIf="candidate.candidateFeedback?.length == 0"
                >
                  <a
                    class="clickable text-center"
                    (click)="
                      selectedCandidate = candidate; viewAndEditFeedback()
                    "
                    >Add Feedback</a
                  >
                </div>
              </div>
            </td>
            <!-- Ageing -->
            <td>
              <div
                class="border-0 align-middle text-center rounded-pill py-1 px-2"
              >
                <div style="height: 50px; overflow: hidden">
                  {{ getTat(candidate.modifiedOn) }} days ago.
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Update Status  -->
<div
  bsModal
  #updateStatusModal="bs-modal"
  class="modal fade bs-example-modal-md"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div
        class="modal-header"
        style="background-image: url('assets/images/background.png')"
      >
        <h5
          class="modal-tooltip"
          id="exampleModalScrollableTitle"
          style="width: 90%"
        >
          Update status of {{ selectedCandidate?.candidate?.name }}
        </h5>

        <button
          type="button"
          class="btn-close btn-close-white rightMost"
          (click)="updateStatusModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <!-- status -->
          <div class="col-xl-6">
            <label for="">Status</label>
            <ng-select
              [items]="status"
              [multiple]="false"
              bindLabel="name"
              placeholder="Select status"
              class="form-control"
              [(ngModel)]="selectedCandidate.status"
              [clearable]="false"
              style="padding: 0"
            >
            </ng-select>
            <!-- Interview Process -->
            <div
              class="mt-3"
              *ngIf="
                selectedCandidate?.status?.id == 8 ||
                selectedCandidate?.status?.id == 11
              "
            >
              <label for=""> In which round of Interview</label>
              <ng-select
                [items]="processes"
                [multiple]="false"
                bindLabel="process"
                placeholder="Select selection round"
                class="form-control"
                [(ngModel)]="selectedCandidate.intvRound"
                [clearable]="false"
                style="padding: 0"
              >
              </ng-select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="saveDiscovery()">
          Update
        </button>
        <button
          type="button"
          class="btn btn-light"
          (click)="updateStatusModal.hide()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- view Justification   -->
<div
  bsModal
  #seeJustification="bs-modal"
  class="modal fade bs-example-modal-md"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div
        class="modal-header"
        style="background-image: url('assets/images/background.png')"
      >
        <h5
          class="modal-tooltip"
          id="exampleModalScrollableTitle"
          style="width: 90%"
        >
          Justification
        </h5>

        <button
          type="button"
          class="btn-close btn-close-white rightMost"
          (click)="seeJustification.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <ul *ngFor="let j of justifications; let i = index">
            <li>{{ j.justification }} Iam</li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-info" (click)="saveDiscovery()">
          Update
        </button> -->
        <button
          type="button"
          class="btn btn-light"
          (click)="seeJustification.hide()"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- view / update client feed back  -->
<div
  bsModal
  #clientFeedbackModal="bs-modal"
  class="modal fade bs-example-modal-md"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div
        class="modal-header"
        style="background-image: url('assets/images/background.png')"
      >
        <h5
          class="modal-tooltip"
          id="exampleModalScrollableTitle"
          style="width: 90%"
        >
          Feedbacks
        </h5>

        <button
          type="button"
          class="btn-close btn-close-white rightMost"
          (click)="clientFeedbackModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Client Feedback -->
        <div class="col-xl-12">
          <div class="card h-100 card-animate border">
            <div class="card-body">
              <div class="single-profile-textarea">
                <div class="single-profile-heading">
                  <span></span>
                  <div class="row">
                    <div class="col-lg-10">
                      <h6 class="text-muted">Client Feedback</h6>
                    </div>
                    <div class="col-lg-2">
                      <i
                        (click)="editClientFeedBack = !editClientFeedBack"
                        class="ri-edit-box-line clickable text-warning align-baseline me-1"
                      ></i>
                    </div>
                  </div>
                </div>

                <div class="single-profile-paragraph">
                  <div class="row" [hidden]="!editClientFeedBack">
                    <div class="col-lg-9">
                      chars left

                      <textarea
                        type="text"
                        [(ngModel)]="feedback"
                        class="from form-control"
                        placeholder="Feedback"
                      ></textarea>
                    </div>
                    <div class="col-lg-2">
                      <div class="job-category-area">
                        &nbsp;
                        <input
                          type="button"
                          class="btn rounded-pill btn-info text-center"
                          value="+ Add"
                          (click)="addFeedback(); updateFeedbacks()"
                        />
                      </div>
                    </div>
                  </div>
                  <ul class="">
                    <li *ngFor="let f of feedbacks">
                      <!-- {{ f.feedback ? f.feedback : "N/A" }} -->
                      {{
                        "" +
                          this.commonService.changeMysqlToNormalDate(f.date) +
                          " : " +
                          f.feedback
                      }}
                      &nbsp;&nbsp;&nbsp;<i
                        class="ri-delete-bin-2-line text-primary clickable fs-4xl"
                        (click)="removeFeedback(f); updateFeedbacks()"
                        [hidden]="!editClientFeedBack"
                      ></i>
                    </li>
                  </ul>
                </div>
                <span *ngIf="feedbacks?.length == 0"></span>

                <input
                  [hidden]="!editClientFeedBack || true"
                  type="button"
                  class="btn rounded-pill btn-info text-center"
                  value="Save"
                  (click)="updateFeedbacks()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
      
        <button
          type="button"
          class="btn btn-light"
          (click)="clientFeedbackModal.hide()"
        >
          Close
        </button>
      </div> -->
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
