<br />

<div>
  <div>
    <div style="display: block">
      <apx-chart
        [series]="stackedBarChart.series"
        [chart]="stackedBarChart.chart"
        [dataLabels]="stackedBarChart.dataLabels"
        [plotOptions]="stackedBarChart.plotOptions"
        [xaxis]="stackedBarChart.xaxis"
        [stroke]="stackedBarChart.stroke"
        [fill]="stackedBarChart.fill"
        [colors]="stackedBarChart.colors"
        [yaxis]="stackedBarChart.yaxis"
        [title]="stackedBarChart.title"
        [tooltip]="stackedBarChart.tooltip"
        [legend]="stackedBarChart.legend"
        dir="ltr"
      ></apx-chart>
    </div>
  </div>
</div>
