.ngx-slider.animate .ngx-slider-bubble.ngx-slider-limit {
    transition: opacity linear .3s;
    font-size: x-small;
}
.ngx-slider .ngx-slider-bubble.ngx-slider-limit {
    color: #55637d;
    font-size: x-small;
}