.upload-box {
  background-color: #f7f7f7;
  border: 2px dashed #e5e5e5;
  color: #000000;
  cursor: pointer;
  color: #000000;
}

.upload-box:hover {
    background-color: #fff;
  }
  input[type="file"] {
    border: 1px solid #ced4da;
  }



