<div class="text-center" style="width: 500px">
  <!-- <iframe
    #videoFrame
    width="365"
    height="700"
    src="https://www.youtube.com/embed/xBi3Ja7qXL4?autoplay=1&mute=1"
    title="Pieworks Introduction | Anush &amp; Smriti"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe> -->

  <!-- <video [muted]="'muted'" autoplay  loop controls  height="700px" class="align-middle">
      <source  src="{{commonService.getPicUrl('uploads/videos/SignUp-video_V2.mp4')}}" type="video/mp4"> 
    </video> -->
  <img
      src="assets/images/login_Page_image.png"
      alt=""
      srcset=""
      class="rounded"
      height="700px"
    />
</div>
