<footer
  class="footer"
  [ngClass]="{
    'd-none d-sm-block': commonService.user?.userrole === 'COMMUNITY MEMBER'
  }"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">{{ year }} © Pieworks.</div>
      <div class="col-sm-6">
        <div class="text-sm-end d-none d-sm-block">Pieworks Life Pvt Ltd.</div>
      </div>
    </div>
  </div>
</footer>

<nav
  class="navbar fixed-bottom navbar-light bg-light d-block d-sm-none"
  *ngIf="
    commonService.user.confirmedUser == 1 &&
    commonService.user.userrole == 'COMMUNITY MEMBER'
  "
>
  <div class="container-fluid d-flex justify-content-around">
    <a
      class="nav-link"
      [routerLink]="'recr/earn'"
      (click)="setActive('earn')"
      [ngClass]="{ active: activeItem === 'earn' }"
    >
      <i class="bi bi-wallet-fill"></i>
      <br />
      Earn
    </a>
    <a
      class="nav-link"
      [routerLink]="'/fw/calendar'"
      (click)="setActive('event')"
      [ngClass]="{ active: activeItem === 'event' }"
    >
      <i class="bi bi-calendar-event-fill"></i>
      <br />
      Event
    </a>
    <a
      class="nav-link"
      href="#"
      (click)="setActive('post'); floatingAddButton.show(); isAddTalent = false"
      [ngClass]="{ active: activeItem === 'post' }"
    >
      <i class="bi bi-plus-square"></i>
    </a>

    <a
      class="nav-link"
      [routerLink]="'/recr/discoveries'"
      (click)="setActive('talent')"
      [ngClass]="{ active: activeItem === 'talent' }"
    >
      <i class="bi bi-people-fill"></i>
      <br />
      Talent
    </a>
    <a
      class="nav-link"
      [routerLink]="'/fw/pieBank'"
      (click)="setActive('piebank')"
      [ngClass]="{ active: activeItem === 'piebank' }"
    >
      <i class="bi bi-pie-chart-fill"></i>
      <br />
      Piebank
    </a>
  </div>
</nav>
<nav
  class="navbar fixed-bottom navbar-light bg-light d-block d-sm-none"
  *ngIf="
    !(commonService.user.confirmedUser == 1) &&
    commonService.user.userrole == 'COMMUNITY MEMBER'
  "
>
  <div class="container-fluid d-flex justify-content-around">
    <a
      class="nav-link"
      
      (click)="setActive('earn');showCompleteKyc.show()"
      [ngClass]="{ active: activeItem === 'earn' }"
    >
      <i class="bi bi-wallet-fill"></i>
      <br />
      Earn
    </a>
    <a
      class="nav-link"
      (click)="setActive('event');showCompleteKyc.show()"
      [ngClass]="{ active: activeItem === 'event' }"
    >
      <i class="bi bi-calendar-event-fill"></i>
      <br />
      Event
    </a>
    <a
      class="nav-link"
      href="#"
      (click)="setActive('post'); showCompleteKyc.show()"
      [ngClass]="{ active: activeItem === 'post' }"
    >
      <i class="bi bi-plus-square"></i>
    </a>

    <a
      class="nav-link"
      (click)="setActive('talent');showCompleteKyc.show()"
      [ngClass]="{ active: activeItem === 'talent' }"
    >
      <i class="bi bi-people-fill"></i>
      <br />
      Talent
    </a>
    <a
      class="nav-link"
      (click)="setActive('piebank');showCompleteKyc.show()"
      [ngClass]="{ active: activeItem === 'piebank' }"
    >
      <i class="bi bi-pie-chart-fill"></i>
      <br />
      Piebank
    </a>
  </div>
</nav>

<!-- start of floating -->
<div
  bsModal
  #floatingAddButton="bs-modal"
  class="modal fade bs-example-modal-lg"
  id="exampleModalScrollable"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg custom-modal">
    <div
      class="modal-content"
      style="background-image: url('assets/images/background.png')"
    >
      <div class="modal-body">
        <div *ngIf="!isAddTalent">
          <div class="row">
            <div class="col-xl-4 mb-sm-0 mb-4">
              <div
                class="card h-100 clickable"
                style="opacity: 0.7"
                onmouseover="this.style.opacity=1;"
                onmouseout="this.style.opacity=0.7;"
                (click)="addProspect()"
              >
                <div class="card-title text-center">Add Prospect</div>
                <div class="card-body text-center">
                  Connect us with growth stage organisations who need to hire &
                  earn a share
                </div>
              </div>
            </div>
            <div class="col-xl-4 mb-sm-0 mb-4">
              <div
                class="card h-100 clickable"
                style="opacity: 0.7"
                onmouseover="this.style.opacity=1;"
                onmouseout="this.style.opacity=0.7;"
                (click)="
                  showDiscoveryWindow('quick-discover');
                  floatingAddButton.hide();
                  discover.loadMandates()
                "
              >
                <div class="card-title text-center">Add Talent</div>
                <div class="card-body text-center">
                  Introduce a talent in your network who is keen to explore
                  career opportunities, active or passive
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div
                class="card h-100"
                style="opacity: 0.7"
                onmouseover="this.style.opacity=1;"
                onmouseout="this.style.opacity=0.7;"
              >
                <div class="card-title text-center">Grow Community</div>
                <div class="card-body text-center">
                  Refer to your friends and acquaintances.
                  <div class="row justify-content-center">
                    <div class="col-xl-2">
                      <!-- whatsapp link share  -->
                      <div class="me-3">
                        <a (click)="whatsappLink()">
                          <i
                            class="bi bi-whatsapp fs-5xl clickable"
                            style="color: rgb(60, 215, 60)"
                          ></i>
                        </a>
                      </div>
                    </div>
                    <div class="col-xl-2">
                      <!-- Link copy button -->
                      <div class="me-4">
                        <i
                          class="bi bi-link-45deg fs-5xl clickable"
                          style="font-size: xx-large"
                          (click)="copyToClipboard()"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row justify-content-center mt-1">
              <div class="col-xl-4">
                <div
                  class="card h-100 clickable"
                  style="opacity: 0.7"
                  onmouseover="this.style.opacity=1;"
                  onmouseout="this.style.opacity=0.7;"
                  (click)="isAddTalent = true"
                >
                  <div class="card-title text-center">Add Talent</div>
                  <div class="card-body">
                    Introduce us to companies and startups
                  </div>
                </div>
              </div>
            </div> -->
        </div>

        <div *ngIf="isAddTalent">
          <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-4 mb-sm-0 mb-4">
              <div
                class="card h-100 clickable"
                style="opacity: 0.7"
                onmouseover="this.style.opacity=1;"
                onmouseout="this.style.opacity=0.7;"
                (click)="
                  showDiscoveryWindow('quick-discover');
                  floatingAddButton.hide();
                  discover.loadMandates()
                "
              >
                <div class="card-title text-center">Discover</div>
                <div class="card-body">
                  Upload a Superstar Talent for any Live Position.
                </div>
              </div>
            </div>
            <div class="col-xl-2"></div>
            <div class="col-xl-4">
              <div
                class="card h-100 clickable"
                style="opacity: 0.7"
                onmouseover="this.style.opacity=1;"
                onmouseout="this.style.opacity=0.7;"
                (click)="
                  discover.mandates = [];
                  discover.reqId = undefined;
                  floatingAddButton.hide()
                "
              >
                <div
                  class="card-title text-center"
                  routerLink="recr/future-form"
                >
                  Future
                </div>
                <div class="card-body">
                  <div routerLink="recr/future-form">
                    Upload a Superstar Talent for a future Position.
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-xl-2">
                      <!-- whatsapp link share  -->
                      <div class="me-3">
                        <a (click)="whatsappLinkForFuture()">
                          <i
                            class="bi bi-whatsapp fs-5xl clickable"
                            style="color: rgb(60, 215, 60)"
                          ></i>
                        </a>
                      </div>
                    </div>
                    <div class="col-xl-2">
                      <!-- Link copy button -->
                      <div class="me-4">
                        <i
                          class="bi bi-link-45deg fs-5xl clickable"
                          style="font-size: xx-large"
                          (click)="copyLinkForFuture()"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
<!-- end of floating-->

<!-- start of Discover Talent -->
<div
  bsModal
  #discoverTalent="bs-modal"
  class="modal fade bs-example-modal-lg"
  id="exampleModalScrollable"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div
        class="modal-header"
        style="background-image: url('assets/images/background.png')"
      >
        <h5
          class="modal-tooltip"
          id="exampleModalScrollableTitle"
          style="width: 90%"
        >
          Discover Talent
        </h5>
        <button
          type="button"
          class="btn-close btn-close-white rightMost"
          (click)="discoverTalent.hide()"
        ></button>
      </div>
      <div class="modal-body" style="padding: 10px 0 10px 0 !important">
        <app-discover-talent
          #discover
          [parentObj]="this"
          (closeEvent)="handleCloseEvent()"
        ></app-discover-talent>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
<!-- end of floating-->

<div
  bsModal
  #showCompleteKyc="bs-modal"
  class="modal bs-example-modal-lg fade"
  [config]="{ backdrop: 'static', keyboard: true }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div
        class="modal-header"
        *ngIf="true"
        style="background-image: url('assets/images/background.png')"
      >
        <h5 class="modal-title" id="myLargeModalLabel">Alert !!</h5>
        <button
          type="button"
          class="btn-close"
          (click)="showCompleteKyc.hide()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="text-center">
            <div class="align-self-center mb-4">
              <img
                src="assets/images/clock.png"
                alt="clock"
                style="width: 200px;"
              />
            </div>
            <h6>
              We are glad you are joining our community. We will validate your
              request via phone call/Linkedin profile within the next 24 hours.
            </h6>
          </div>
          <!-- <div >
            <iframe
              class="rounded w-100"
              height="462"
              src="https://www.youtube.com/embed/Oi2tE-IpP_c"
              title="Community info"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            ></iframe>
          </div> -->
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>